<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <title><%= title %></title>

    <%- include common-head.ejs %>

  </head>
  <body>


<div class="container centerize" style="height:600px;">
  <div>
    <p><i class="icon-github login-logo"></i></p>
    <p><a class="btn btn-primary btn-large" href="/login"><%- __('Login to GitHub &raquo;') %></a></p>

  </div>
</div>

<%- include common-script.ejs %>

  </body>
</html>